{% extends 'base-admin.html' %}

{% block title %}Profesores{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/administrador/add-student.css' %}">
{% endblock %}

{% block teacher_active %}active{% endblock %}

{% block teacher_icon %}
<img src="{% static 'icon/teacher-selected.png' %}" alt="teacher">
{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="row">
            <div class="input-container">
                <label for="dni_buscar">Ingresa un Número de DNI para buscar</label>
                <input type="text" id="dni_buscar" name="dni_buscar" required>
            </div>
            <div class="input-container">
                <label>&nbsp;</label>
                <button type="submit" name="buscar_dni">Buscar</button>
            </div>
        </div>
    </form>
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="row">
            <div class="input-container">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="{{ usuario.nombres }}" required>
            </div>
            <div class="input-container">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" value="{{usuario.apellidoPaterno}} {{usuario.apellidoMaterno}}" required>
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion">
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-container">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="celular">Celular</label>
                <input type="text" id="celular" name="celular">
            </div>
            <div class="input-container">
                <label for="dni">DNI</label>
                <input type="number" id="dni" name="dni" value="{{ usuario.numeroDocumento }}">
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="especialidad">Especialidad</label>
                <input type="text" id="especialidad" name="especialidad" required>
            </div>
             <div class="input-container">
                <label for="grado">Grado</label>
                <select id="grado" name="grado">
                    <option value="">Selecciona un grado</option>
                    {% for grado in grados %}
                        <option value="{{ grado.idGrado }}">{{ grado.grado }} - {{ grado.seccion }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="input-container">
            <label for="img">Foto de Perfil</label>
            <input type="file" id="img" name="img">
        </div>
        <button type="submit" name="agregar_profesor">Agregar Profesor</button>
    </form>
</div>
{% endblock %}