{% extends 'base-admin.html' %}

{% block title %}Admin{% endblock %}
{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/administrador/add-student.css' %}">
{% endblock %}

{% block home_active %}active{% endblock %} 

{% block home_icon %}
<img src="{% static 'icon/home-selected.png' %}" alt="admin">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Agregar Administrador</h1>
    <br>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-container">
                <label for="dni_buscar">Ingresa un Número de DNI para buscar</label>
                <input type="text" id="dni_buscar" name="dni_buscar" required>
            </div>
            <div class="input-container">
                <label>&nbsp;</label>
                <button type="submit" name="buscar_dni">Buscar</button>
            </div>
        </div>
    </form>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="input-container">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" value="{{ usuario.nombres }}" required>
            </div>
            <div class="input-container">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="apellido" value="{{usuario.apellidoPaterno}} {{usuario.apellidoMaterno}}" required>
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
                <label for="direccion">Dirección</label>
                <input type="text" id="direccion" name="direccion" >
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password"  required>
            </div>
            <div class="input-container">
                <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
            </div>
        </div>
        <div class="row">
            <div class="input-container">
                <label for="celular">Celular</label>
                <input type="text" id="celular" name="celular">
            </div>
            <div class="input-container">
                <label for="dni">DNI</label>
                <input type="number" id="dni" name="dni" value="{{ usuario.numeroDocumento }}">
            </div>
        </div>
        <button type="submit" name="agregar_administrador">Agregar Administrador</button>
    </form>
</div>
{% endblock %}